
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}
main {
    flex: 1;
    width: 80%;
    margin: 20px;
    background-color: white;
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.gradient-text {
    background: -webkit-linear-gradient(right, rgb(13, 31, 186), rgb(9, 88, 35), rgb(13, 31, 186));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
body {
    background-image:
      linear-gradient(45deg, #5fceea 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #5fceea 75%),
      linear-gradient(45deg, transparent 75%, #5fceea 75%),
      linear-gradient(45deg, #5fceea 25%, #3085b3 25%);    

    background-size: 200% 200%;       
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    }
    100% {
        background-position: 200% 200%, 200% 200%, 150% 150%, 250% 250%;
    }
    
}